<%-include('../partials/header.ejs')%>
    <!DOCTYPE html>
    <html lang="" en>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>

    <style>
        .bold {
            font-weight: bold;
        }

        .F1 {
            font-family: "Times New Roman", Times, serif;
        }

        .font16 {
            font-size: 16px;
        }

        .font30 {
            font-size: 30px;
        }

        .padding-bt {
            padding-bottom: 1.5%;
        }

        .padding-ls {
            padding-inline-start: 4.0%;
        }

        .padding-le {
            padding-inline-end: 4.0%;
        }

        .padding-t {
            padding-top: 1.5%;
        }

        .container {
            max-width: 500px;
            margin: 60px auto;
        }

        .container h1 {
            text-align: center;
            color: white;
        }

        form {
            background-color: white;
        }

        form .input-group {
            margin-bottom: 15px;
        }

        form label {
            display: block;
            margin-bottom: 5px;
        }

        form input {
            padding: 6px 10px;
            width: 100%;
            border: 1px solid #ccc;
        }

        .styled-textarea {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ced4da;
            border-radius: 4px;
            resize: none; /* Disable textarea resizing */
        }

        #custom {
            display: flex;
            justify-content: space-between;
            border: 1px solid #000;
            padding: 10px;
        }
    </style>

    <body>
        <div class="text-center F1 font30 padding-bt padding-t bold">Quiz1: Compiler</div>
        
        <div class="container-fluid padding-bt ">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-2 col-lg-3 col-xl-3 col-xxl-3"></div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 col-xxl-6">
                    <form action="/addData" method="POST" class="d-flex" role="search">
                </div>
                
                <div class="text-center padding-t ">
                    <select name="model_type">
                        <option value="Model1" selected>Model1</option>
                        <option value="Model2">Model2</option>
                    </select>
                </div>

                <div class="container mt-5">
                    <label for="myTextarea">Enter code here:</label>
                    <textarea id="myTextarea" class="styled-textarea" name="src_code" rows="4" placeholder="Your text here..." value="" required></textarea>
                </div>
                
                <div>
                    <div class="text-center padding-t ">
                        <button class="btn btn-success" type="submit">COMPILE</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="text-center padding-t ">
            <button class="btn btn-warning">
                <a href="/report">
                    show report
                </a>
            </button>
        </div>

        <div class="F1 font16 padding-bt padding-t ">
            <center><h6>Example is below...</h6></center>
            <div class="container" id="custom">
                <p> <b>Input:</b> <br>declare abc <br>
                    declare def <br>
                    abc = 1 <br>
                    def = abc + abc <br></p>
                <p> <b>Output (Model1):</b> <br> declare is Keyword <br>
                    abc is Identifier <br>
                    declare is Keyword <br>
                    def is Identifier <br>
                    abc is Identifier <br>
                    = is Symbol <br>
                    1 is Literal <br>
                    def is Identifier <br>
                    = is Symbol <br>
                    abc is Identifier <br>
                    + is Symbol <br>
                    abc is Identifier <br></p>
                <p>
                    <b>Output (Model2):</b> <br>
                    declare is Keyword and Sign <br>
                    abc is Variable <br>
                    declare is Keyword and Sign <br>
                    def is Variable <br>
                    abc is Variable <br>
                    = is Assignment <br>
                    1 is Integer <br>
                    def is Variable <br>
                    = is Assignment <br>
                    abc is Variable <br>
                    + is Keyword and Sign <br>
                    abc is Variable <br>
                </p>
            </div>
        </div>

    </body>

<%-include('../partials/footer.ejs')%>